<!DOCTYPE html>
<html>
<head>
    <link href="~/css/login.css" rel="stylesheet" />
    <title>Login</title>

    <!-- For using font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@200;500&display=swap" rel="stylesheet">

    <style>

        /* Change styles for span and cancel button on extra small screens */

    </style>
</head>

<body>

    <h2>LOGIN (• ◡•)</h2>

    <form method="post">

        <div class="container">
            <input class="name" type="text" placeholder="Username" name="Username">

            <div class="line"></div>
            <input class="pass" type="password" placeholder="Password" name="Password">
			<button class="login" type="submit">Login</button>
            <div style="color:red">Login Failed</div> <!-- This is temporary -->
        </div>

    </form>

    <div class="bigCir"></div>
    <div class="smallCir"></div>

    <div class="tri1"></div>
    <div class="tri2"></div>
    <div class="tri3"></div>

    <div class="cirLine"></div>
    <div class="transLine1"></div>
    <div class="transLine2"></div>
    <div class="transLine3"></div>

</body>
</html>

