@{
	ViewBag.Title = "Login";
	Layout = "~/Views/_Layout.cshtml";
}


<head>
    <link rel="stylesheet" href="login.css">

    <style>
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    flex: auto;
}

        h2 {
            position: absolute;
            width: 272px;
            height: 113px;
            left: 407px;
            top: 128px;
            font-family: 'Abhaya Libre Medium';
            font-style: normal;
            font-weight: 500;
            font-size: 96px;
            line-height: 113px;
            color: #000000;
        }

form
{
    position: absolute;
}

input:focus::placeholder
{
    color: transparent;
}

        .name {
            border: hidden;
            outline: none;
            border-color: black;
            position: absolute;
            width: 700px;
            height: 40px;
            left: 335px;
            top: 285px;
            font-size: 20px;
        }

        hr {
            position: absolute;
            width: 700px;
            left: 335px;
            top: 331px;
            border-width: 2px;
            border-color: black;
        }

        .pass {
            border: hidden;
            outline: none;
            border-color: black;
            position: absolute;
            width: 700px;
            height: 40px;
            left: 337px;
            top: 358px;
            font-size: 20px;
        }

        .login {
            position: absolute;
            width: 700px;
            height: 40px;
            left: 337px;
            top: 495px;
            background-color: rgba(255, 191, 66, 0.54);
            border: none;
        }

.login:hover
{
    opacity: 0.8;
}

.bigCir
{
    position: absolute;
    width: 850px;
    height: 850px;
    left: -585px;
    top: 35px;
    border-radius: 50%;
    background: rgba(255, 191, 66, 0.54);
}

.smallCir
{
    position: absolute;
    width: 76px;
    height: 76px;
    left: 130px;
    top: 155px;
    border-radius: 50%;

    background: rgba(255, 191, 66, 0.54);
}

.tri1
{
    position: absolute;
    width: 0px;
    height: 0px;
    left: 1320px;
    top: 580px;

	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 200px solid rgba(255, 191, 66, 0.54);

    transform: rotate(-44.32deg);
}

        .tri2 {
            position: absolute;
            width: 0px;
            height: 0px;
            left: 1290px;
            top: 530px;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
            border-bottom: 200px solid rgba(255, 191, 66, 0.54);
            transform: rotate(-44.32deg);
        }

        .tri3 {
            position: absolute;
            width: 0px;
            height: 0px;
            left: 1250px;
            top: 465px;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
            border-bottom: 200px solid rgba(255, 191, 66, 0.54);
            transform: rotate(-44.32deg);
        }

        .cirLine {
            position: absolute;
            width: 750px;
            height: 750px;
            left: 1300px;
            top: -500.86px;
            border-radius: 50%;
            background: rgba(255, 191, 66, 0.54);
            transform: rotate(-45deg);
        }

.transLine1
{
    position: absolute;
    width: 1319.96px;
    height: 64.27px;
    left: 1180px;
    top: -140.44px;

    background: white;
    transform: rotate(-45deg);
}

.transLine2
{
    position: absolute;
    width: 1319.96px;
    height: 64.27px;
    left: 1365px;
    top: -140.44px;

    background: white;
    transform: rotate(-45deg);
}

.transLine3
{
    position: absolute;
    width: 1319.96px;
    height: 64.27px;
    left: 1550px;
    top: -140.44px;

    background: white;
    transform: rotate(-45deg);
}
/*form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



    button:hover {
        opacity: 0.8;
    }*/



.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
media screen and (max-width: 300px) {
    span .psw

{
    display: block;
    float: none;
}

.cancelbtn {
    width: 100%;
}
}

    </style>
</head>

<body>

    <h2>LOGIN</h2>

    <form action="#" method="post">
        <!--<div class="imgcontainer">

            <img src="~/Content/pic/img_avatar2.png" />
        </div>-->

        <div class="container">
            <!--<label for="uname"><b>Username</b></label>-->
            <input class="name" type="text" placeholder="Username" name="Username">

            <hr>
            <!--<label for="psw"><b>Password</b></label>-->
            <input class="pass" type="password" placeholder="Password" name="Password">

             <button class="login" type="submit" >Login</button>
            <!--<label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>-->
        </div>
    </form>

    <div class="bigCir"></div>
    <div class="smallCir"></div>

    <div class="tri1"></div>
    <div class="tri2"></div>
    <div class="tri3"></div>

    <div class="cirLine"></div>
    <div class="transLine1"></div>
    <div class="transLine2"></div>
    <div class="transLine3"></div>

</body>
