@media screen and (max-width: 300px) {
    span .psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

body {
    font-family: 'Anuphan', sans-serif;
    overflow: hidden;
}

* {
    font-family: 'Anuphan', sans-serif;
}

h2 {
    position: relative;
    left: 30vw;
    top: 23vh;
    margin: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 113px;
    color: #000000;
}

input::placeholder {
    color: lightgray;
}

input:focus::placeholder {
    color: transparent;
}

.name {
    border: none;
    outline: none;
    position: relative;
    width: 40vw;
    height: 50px;
    left: 30vw;
    top: 31vh;
    font-size: 50px;
}

.line {
    position: relative;
    width: 40vw;
    height: 2px;
    left: 30vw;
    top: 34vh;
    margin: 0px;
    background-color: black;
}

.pass {
    border: none;
    outline: none;
    position: relative;
    width: 40vw;
    height: 50px;
    left: 30vw;
    top: 36vh;
    font-size: 50px;
}

.login {
    position: relative;
    width: 40vw;
    height: 50px;
    left: -10vw;
    top: 50vh;
    margin: auto;
    background-color: rgba(255, 191, 66, 0.54);
    border: none;
    font-size: 30px;
}

    .login:hover {
        background-color: #ffb116c0;
        cursor: pointer;
    }

.bigCir {
    position: absolute;
    width: 42vw;
    height: 85vh;
    left: -28vw;
    top: 8vh;
    border-radius: 50%;
    background: rgba(255, 191, 66, 0.54);
}

.smallCir {
    position: absolute;
    width: 76px;
    height: 76px;
    left: 7vw;
    top: 20vh;
    border-radius: 50%;
    background: rgba(255, 191, 66, 0.54);
}

.tri1 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 83vw;
    top: 69vh;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 10vw solid rgba(255, 191, 66, 0.54);
    transform: rotate(-44.32deg);
}

.tri2 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 87.5vw;
    top: 78vh;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 10vw solid rgba(255, 191, 66, 0.54);
    transform: rotate(-44.32deg);
}

.tri3 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 92vw;
    top: 87vh;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 10vw solid rgba(255, 191, 66, 0.54);
    transform: rotate(-44.32deg);
}

.cirLine {
    position: absolute;
    width: 30vw;
    height: 60vh;
    left: 84vw;
    top: -30vh;
    border-radius: 50%;
    background: rgba(255, 191, 66, 0.54);
    transform: rotate(-45deg);
}

.transLine1 {
    position: absolute;
    width: 1319.96px;
    height: 6.7vh;
    left: 61vw;
    top: -13vh;
    background: white;
    transform: rotate(-45deg);
}

.transLine2 {
    position: absolute;
    width: 1319.96px;
    height: 6.7vh;
    left: 70vw;
    top: -13vh;
    background: white;
    transform: rotate(-45deg);
}

.transLine3 {
    position: absolute;
    width: 1319.96px;
    height: 6.7vh;
    left: 79.5vw;
    top: -13vh;
    background: white;
    transform: rotate(-45deg);
}
